@font-face {
    font-family: logoFont;
    src: url(assets/fonts/RetroVintage-Regular.otf),
}

@font-face {
    font-family: navFont;
    src: url(assets/fonts/Bacute.ttf),
}

@font-face {
    font-family: mainFont;
    src: url(assets/fonts/Champagne\ &\ Limousines.ttf),
}

@font-face {
    font-family: mainFont2;
    src: url(assets/fonts/Lacosta_PERSONAL_USE_ONLY.ttf),
}

body {
    padding-bottom: 5px;
    background-color: rgb(245, 164, 98);
}

.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open sans', sans-serif; 
}

#main_3d_image {
    background-image: url(assets/homeImage.jpg);
    background-repeat: no-repeat;
    height: 200px;
}

#main_text {
    float: left;
    margin: 5%;
    width: 90%;
    display: block;
    padding: 10px;
    border-radius: 5px;
}
#main_text h2 {
    color: rgba(0,102,153,1);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
#main_text h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
} 

.card {
    border: 0px solid rgba(0,0,0,.125);
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(245, 164, 98);
}

.logo {
    margin-top: 3px;
    font-family: mainFont2; 
}

.navbar_cameras {
    background-color: #760003;
    transition: background-color 0.3s ease-in-out;
    border-width: 0px;
    min-height: 70px;
}

.navbar_cameras .navbar-brand {
    color: rgb(255, 255, 255);
    font-family: logoFont;
 }
    

.navbar_cameras .navbar-brand:hover {
    color: #006674;
}

.navbar_cameras .navbar-nav > li > a {
    color: white;  
    font-size: 1.5rem;
    
}

.navbar_cameras .navbar-nav > li > a:hover, 
.navbar_cameras .navbar-nav > li > a:focus {
    color: #006674;  
}

.navbar_cameras .navbar-nav .nav-item {
    margin-top: 10px;
    color: #006674;
    font-family: navFont;
    
}


.navbar_cameras .navbar-nav .nav-item > .active, 
.navbar_cameras .navbar-nav > .active > a:hover, 
.navbar_cameras .navbar-nav > .active > a:focus {
    color:  #006674 !important; 
}

.navbar_cameras .navbar-nav > li > a:hover, 
.navbar_cameras  .navbar-nav > li > a:focus {
    color: #006674;  
}


.navbar_cameras .navbar-toggler {
    border-color: #93a9a4;
}

.navbar_cameras .navbar-toggler {
    outline: none !important;
}


.dropdown-menu {
    text-align: -webkit-left;
    background-color: #63a4b5;
    margin-top: 10px;
}

.dropdown-menu
.dropdown-item {
    color: #93a9a4;
}

.dropdown-menu
.dropdown-item:hover {
    color: #93a9a4;
    background-color: #d7dfda;
}

/* CSS rule to style the footer */
.footer {
    color: #FFF;
    background-color: #760003;
    height: 50px;
}

.navbar-text > a {
    color: rgb(255, 255, 255);
    font-size: 8px;
    text-decoration: none;
}

.navbar-text > p {
    color: #d7dfda;
    font-size: 20px;
    text-decoration: none;
}

.copyright {
    padding-top: 13px;
}

.social {
    padding-top: 0px;
}

@media (min-width: 576px) {

    body {
        background-color: rgb(202, 181, 181);
    }

    #main_3d_image {
        background-image: url(assets/homeImage.jpg);
        background-repeat: no-repeat;
        height: 288px;
    }

    #main_text {
        float: right;
        margin-top: 7%;
    }

    .card {
        border: 0px solid rgba(0,0,0,.125);
        /* border-radius: .25rem;*/
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(202, 181, 181);
    }

    .navbar_cameras {
        background-color: grey; 
        min-height: 90px;
    }

    /* CSS rule to style the footer */
    .footer {
        background-color: #257600;
        height: 60px;
    }

    .navbar-text > a {
        font-size: 10px;
    }

    .navbar-text > p {
        color: rgb(228, 75, 15);
        font-size: 18px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }

}


@media (min-width: 768px) { 
    
    body {
        background-color: rgb(218, 216, 148);
    }

    #main_3d_image {
        background-image: url(assets/homeImage.jpg);
        background-repeat: no-repeat;
        height: 363px;
    }

    .card {
        border: 0px solid rgba(0,0,0,.125);
        border-radius: .5rem;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(218, 216, 148);
    }

    #main_text {
        float: right;
        margin-top: 20px;
    }

    #main_text h2 {
        color: crimson;
        font-size: 30px;
    }
    
    #main_text h3 {
        color: darkcyan;
        font-size:22px;
    }
    
    #main_text p {
        font-size: 15px;
    }
    
    /* CSS rule to style the mobile logo */

    .logo {
        margin-top: 3px;
        font-family: mainFont2; 
    }

    .logo h1 {
        font-family: mainFont2; 
        font-size: 41px;
        margin: 0;
        margin-top: 0px;
        margin-bottom: -15px;
        float: left;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 2px;
    }

    .logo p {
        font-size: 10px;
        margin-top: 45px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 8px;
    }

    .navbar_cameras {
        min-height: 90px;
    }

    .container-fluid {
        display: flex;
        margin-top: auto;

    }

    .footer {
        background-color: #f0bb78;
        height: 60px;
        
    }

    .navbar-text > a {
        font-size: 10px;
    }

    .navbar-text > p {
        color: rgb(12, 5, 3);
        font-size: 18px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    #main_3d_image {
        background-image: url(assets/homeImage.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 800px;
    }

    #main_text {
        margin-bottom: 20px;
    }

    #main_text h2 {
        color: rgb(0, 0, 0);
        font-size: 40px;
        font-family: logoFont;
    }
    
    #main_text h3 {
        color: darkcyan;
        font-size:22px;
    }
    
    #main_text p {
        font-size: 25px;
        font-family: mainFont;
        padding-top: 20px;
    }
    
    #myBtn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: #1d5566;
        border: none;
        padding: 10px;
        color: white;
        cursor: pointer;
        border-radius: 50%;
        transition: opacity 0.3s ease-in-out;
    }
    
    #myBtn:hover {
        background-color: #299ea9;
    }

    .card {
        position: relative;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        border: 0px solid rgba(0,0,0,.125);
        border-radius: 10px;
        overflow: hidden;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card img {
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card:hover {
        transform: translateY(-5px); 
        box-shadow: 0px 5px 15px #4ac5ee33; 
    }

    .card-body {
        padding: 20px;
        text-align: center;
    }
    
    .card-body h3 {
        font-family: navFont;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    .card-body p {
        font-family: mainFont;
        font-size: 1.3rem;
        color: #131010;
    }

    .card-body a {
        font-size: 1rem;
        padding: 15px;
        color: #ffffff;
    }
    
    .card-body .btn {
        margin-top: 10px;
    }

    .card-body .custom {
        font-family: navFont;
        background-color: #16404d;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }

    .card-body .custom:hover {
        margin-top: 10px;
        background-color: #a6cdc6;
        transform: scale(1.05)
    }

    .logo {
        margin-top: 10px;
    }

    .logo h1 {
        font-family: mainFont2;
        font-size: 59px;
        margin-bottom: 20px;
        float: left;
    }

    .navbar_cameras {
        background-color: grey; 
        min-height: 120px;
    }

    .video-container {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .video-container iframe {
        width: 45%;
        height: 300px;
        border-radius: 10px;
    }

    .footer {
        color: #000000;
        padding: 20px;
        text-align: center;
    }

    .navbar-text > a {
        font-size: 15px;
        font-family: navFont;
        color: #006674;
        display: inline-block;
    }

    .navbar-text > p {
        color: white;
        font-family: navFont;
        font-size: 20px;
        padding-top: 25px;
    }

    .copyright {
        padding-top: 7px;
    }

    .social {
        padding-top: 7px;
    }

    .social a {
        margin: 0 10px;
        transition: transform 0.3s ease-in-out;
    }
    
    .social a:hover {
        transform: scale(1.1);
    }
}
